<%- include("./karfarma.ejs")  -%>
    <link rel="stylesheet" href="/config/jquery.md.bootstrap.datetimepicker.style.css">
    <link rel="stylesheet" href="/src/css/karfamapanel/Business.css">


 
    <main>

        <div class="container form">

            <form action="" id="formId" method="post" enctype="multipart/form-data">
<!--Title+Dmain  -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">عنوان کسب و کار</label>
                        <span class="color-required">*</span>
                        <input type="text"  name="Title" class="form-control" id="inputEmail4" placeholder="مثال:بسته بندی مزمز" >
                    </div>
<!-- Domain -->
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">انتخاب دامنه در سایت یارجو</label>
                        <span class="color-required">*</span>
                        <input type="text"  class="form-control" id="Domain" placeholder="مثال:Yargan(متن انگلیسی)" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57)" name="Domain" />

                    </div>
                </div>
<!-- ChosseCategory -->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">لطفا دسته بندی شغل خود را انتخاب نمیاد</label>
                        <span class="color-required">*</span>
                        <select class="form-control" id="select1" name="parentID">
                    <option value="0">انتخاب کنید</option>
                    <% for(let i=0;i<categories.length;i++){ %>
                    <% if(categories[i].parentId == 0){ %>  
                    <option value="<%= categories[i].id %>"><%= categories[i].name %> </option>
                    <% } %> 
                    <% } %> 
                                    </select>
                    </div>
                    <div class="form-group col-md-4">

                        <div id="CategouryFind">
                        </div>
                    </div>
                    <div class="form-group col-md-4">

                        <div id="CategouryFindd">
                        </div>
                    </div>
                </div>
<!--Brand+Active  -->
                <div class="form-row"> 
                    <!-- Brand -->
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">نام برند</label>
                        <input type="text"  name="Brand" class="form-control" id="Brand" placeholder="مثال:مزمز">
                    </div>
                    <!-- Active -->
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">زمینه فعالیت</label>
                        <span class="color-required">*</span>
                        <input  type="text" class="form-control" id="Activity" placeholder="مثال:شرکت بسته بندی چی توز" name="Activity" />

                    </div>
                </div>
<!-- Mellino+Mellino+ TypeWork-->
                <div class="form-row">
                    <!-- Mellino -->
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">شماره ثبت</label>
                        <span class="color-required">*</span>
                        <input  type="number"  name="SabtNo"  class="form-control" id="SabtNo" placeholder="مثال:20178" >
                    </div>
                    <!-- Mellino -->
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">شماره ملی</label>
                        <span class="color-required">*</span>
                        <input type="number"  name="MelliNo" class="form-control" id="MelliNo" placeholder="مثال:32156" >

                    </div>
                    <!-- TypeWork -->
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">نوع کسب و کار</label>
                        <span class="color-required">*</span>
                        <select class="form-control" name="TypeWork" >
                            <option value="0">انتخاب کنید</option>
                            <option value="1"> کسب و کار خدماتی</option>
                            <option value="2">کسب و کار بازرگانی</option>
                            <option value="3">کسب و کار تولیدی</option>
                            <option value="4">کسب و کار مختلط</option>
                            <option value="5">کسب و کار اینترنتی</option>
                            <option value="6">کسب و کار خانگی</option>
                            <option value="7">کسب و کار تک مالکیتی</option>
                            <option value="8">شراکت</option>
                            <option value="9">شرکت سهامی</option>
                            <option value="10">شرکت تعاونی</option>
                            <option value="11">سایر</option>
                          </select>
                    </div>
                </div>
<!-- namemanger + DAta  -->
                <div class="form-row">
                    <!-- namemanager -->
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">نام مدیر عامل</label>
                        <span class="color-required">*</span>
                        <input  type="text" name="CEO" class="form-control" id="CEO" placeholder="مثال:افشین رحمتی" >
                    </div>
                    <!-- DAte -->
                    <div class="form-group col-md-8 ">
                      

                        <div class="col-12 col-sm-6 col-lg-4 item">
                            <div class="input-group ">
                                <label for="inputEmail4" > سال تاسیس</label>
                                <span class="color-required">*</span>
                                <label for="birthDate-text-label"
                                       class="col-12 control-label text-right">
                                </label>
                                <div class="input-group-prepend">
                                    <input type="text" id="birthDate-text" class="form-control birthDate-text-label "
                                    placeholder="مثال :1379/05/16"
                                    value="">
                                    <span class="input-group-text cursor-pointer birthDate-text-label">
                                 انتخاب تاریخ
                                    </span>
                                </div>
                              
                                <input type="hidden" id="birthDate-date"
                                       class="form-control "
                                       placeholder=""
                                       name="StartDate" aria-label="birthDate-date"
                                       value=""
                                       aria-describedby="birthDate-date">
                            </div>
                        </div>            
                    </div>
                </div>
<!--    about work -->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">توضیحات راجبع کسب و کار خود</label>
                        <span class="color-required">*</span>
                        <textarea class="form-control" name='description' id="exampleFormControlTextarea1" rows="5" placeholder="توضیحات راجبع کسب و کار خود" ></textarea>
                    </div>



                </div>
<!-- Logo -->
                <div class="form-row">
                   
                    <div class="form-group col-md-12">
                        <div class="file-upload  ">
                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">آپلود لوگو </button>
                            <div class="image-upload-wrap">

                                <input class="file-upload-input" class="form-control mb-4" name="img" type='file' onchange="readURL(this);"  />
                                <div class="drag-text">
                                    <h3>آپلود لوگوی کسب و کار</h3>
                                    
                                </div>
                            </div>
                            <div class="file-upload-content">
                                <img class="file-upload-image" src="" alt="your image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
<!-- Send -->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input class="btn btn-primary" style="width: 100%;" type="submit" value="ارسال" id="btnsend">    
                    </div>
                </div>
            </form>
        </div>
      
    </main>
    
 <script src="/config/jquery.min.js"></script>
 <!-- for DAta{ -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <script src="/config/jquery.md.bootstrap.datetimepicker.js"></script>
<!-- } -->
<% if(BusinesInfo.length > 0){ %> 
<script>
    $("#formId").attr("action", "/dashboard/karfarma/UpdateBusinessInfopost");
    $("#btnsend").css("background", "pink");
    $("input").prop('disabled', false);
    $("#btnsend").val("ویرایش");
    $('#inputEmail4').val("<%=BusinesInfo[0].Title  %>");
    $('#Domain').val("<%=BusinesInfo[0].Domain  %>");
    $('#Brand').val("<%=BusinesInfo[0].Brand  %>");
    $('#Activity').val("<%=BusinesInfo[0].Activity  %>");
    $('#SabtNo').val("<%=BusinesInfo[0].SabtNo  %>");
    $('#MelliNo').val("<%=BusinesInfo[0].MelliNo  %>");
    $('#CEO').val("<%=BusinesInfo[0].CEO  %>");
    $('#birthDate-text').val("<%=BusinesInfo[0].StartDate  %>");
    $('#exampleFormControlTextarea1').val("<%=BusinesInfo[0].Description  %>");
    $('#birthDate-text').val("<%=BusinesInfo[0].StartDate  %>");
</script>
<% }else{ %>
    <script>
    $("#formId").attr("action", "/dashboard/karfarma/BusinessInfopost");
    $("#btnsend").css("background", "blues");
    $("#btnsend").val("ارسال");
    
</script>
<% } %>  
<script src="/src/js/Karfarma/BusinessInfo.js"></script>   
